/* src/app/globals.css */

@import "tailwindcss";

@theme {
  --color-brand-orange: #F97316;
  --color-brand-orange-dark: #EA580C;

  --font-sans: var(--font-rounded-mplus), sans-serif;
  --font-handwriting: var(--font-caveat), cursive;

  /* public/image/... に合わせて修正 */
  --background-image-wood-pattern: url('/image/wood-bg.jpg');
  --background-image-fridge-pattern: url('/image/fridge-bg.jpg');
}

body {
  @apply bg-wood-pattern bg-repeat;
}